/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/packages/twoavy/evaluation-tool
/packages/twoavy/evaluation-tool/.phpunit.result.cache
/supervisord.log
/.rnd
/public/evaluation-tool
/public/evaluation-tool-audio
/local_scripts/
/database/snapshots/
/speechmatics/
